body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    45deg,
    rgb(87, 134, 235, 0.6),
    rgb(96, 240, 201, 0.6)
  );
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=East+Sea+Dokdo&family=Potta+One&display=swap");

* {
  font-family: "East Sea Dokdo", cursive;
  font-size: 1.3rem;
}
