body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=East+Sea+Dokdo&family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  font-family: "East Sea Dokdo", cursive;
  font-size: 1.3rem;
}

:root {
  --text-color: #fff;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
